body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.left-border {
  border-left: 3px solid #2e4c79;
}
.leftpadding {
  padding-left: 5px;
}
.rightmargin {
  margin-right: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
  height: 75px;
}
h1 {
  background-color: #92ccce;
  color: #31343d;
  padding-left: 10px;
  height: 40px;
}
#top-nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  list-style-type: none;
}
#top-nav a {
  color: #92ccce;
  text-decoration: underline;
  font-weight: bold;
}
#top-nav a:hover {
  color: aliceblue;
  cursor: pointer;
}
.bg {
  height: 300px;
  width: 100%;
  background-image: url(./images/background-gbd042932e_1920.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.bg h2 {
  background-color: azure;
  position: absolute;
  right: 25px;
  bottom: 10px;
}
#main {
  margin: 10px 5%;
}
.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-me h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #2e4c79;
  margin: 0px;
  text-align: end;
}
.about-me p {
  color: #2e4c79;
  font-size: 16px;
  line-height: 1.5;
}

/* css for div work  */
#work {
  display: flex;
  margin: 6px;
}
.work h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #2e4c79;
  text-align: end;
}
.img-gallery {
  width: 80%;
  padding: 10px 20px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}
.img-gallery div {
  margin: 2px;
  position: relative;
}
.img-gallery div:hover {
  opacity: 0.6;
}
.img-01 {
  background-image: url(./images/digital-marketing-meeting.jpg);
  width: 90%;
  background-position: center;
  background-size: cover;
}
.img-gallery h4 {
  background-color: #def4f4;
  color: #3c4152;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  max-width: 120px;
  text-align: center;
  max-height: 3em;
  text-transform: capitalize;
}
.img-gallery h4 a {
  text-decoration: none;
  color: #3c4152;
}
.img-gallery h4 span {
  font-size: 14px;
  color: #3c4152;
}
.img-02 {
  background-image: url(./images/artificial-intelligence-g0bd695837_1280.jpg);
  width: 45%;
  background-position: center;
  background-size: cover;
}
.img-03 {
  background-image: url(./images/code-g168837568_1280.jpg);
  width: 45%;
  background-position: center;
  background-size: cover;
}
.img-04 {
  background-image: url(./images/matrix-g88f3f613a_1280.jpg);
  width: 45%;
  background-position: center;
  background-size: cover;
}
.img-05 {
  background-image: url(./images/nature-gf0b95e027_1280.jpg);
  width: 45%;
  background-position: center;
  background-size: cover;
}

/* contact me section  */
#contact-me {
  align-items: center;
  display: flex;
}
#contact-me .heading {
  max-width: min-content;
}
#contact-me h2 {
  font-weight: bolder;
  font-size: 23x;
  color: #2e4c79;
  text-align: end;
}
.bottom-nav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.bottom-nav ul {
  display: inline-flex;
  list-style-type: none;
}
.bottom-nav ul li {
  padding: 0px 10px;
}

.bottom-nav a {
  color: #2e4c79;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}
.bottom-nav a:hover {
  color: #92ccce;
  cursor: pointer;
}
/* Media queries */
@media screen and (max-width: 992px) {
  .bg {
    height: 300px;
    width: 100%;
    background-image: url(./images/wallpaper-g6e63fe26f_1280.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  #work .img-gallery div {
    width: 100vh;
  }
  .bottom-nav ul {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
  }
  .bottom-nav ul li {
    padding: 10px 0px;
  }
  h1 {
    background-color: #f71f44;
    color: #31343d;
    padding-left: 10px;
    height: 40px;
  }
  #top-nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    list-style-type: none;
  }
  #top-nav a {
    color: #f71f44;
    text-decoration: underline;
    font-weight: bold;
  }
  #top-nav a:hover {
    color: aliceblue;
    cursor: pointer;
  }
}
